language : android

sudo: required

jdk:
- oraclejdk8

android:
  components:
    - platform-tools
    - tools
    - build-tools-25.0.2
    - android-25
    - extra-android-m2repository

script:
    - ./gradlew clean test assembleDevelopmentDebug jacocoTestReport

after_success:
  - bash <(curl -s https://codecov.io/bash)